@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(+10%);
  }
}


@keyframes containerMove {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: 1;
    transform: translate(-35vw, -35vh) scale(0.5);
  }
}

.splash-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #6368cd, #363FE5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: containerMove 1s ease-in forwards;
  animation-delay: 2s;
}

.logo {
  height: 150px;
  width: auto;
}

h1 {
  font-size: 48px;
  margin: 0;
  color: white;
  white-space: nowrap;
  animation: moveIn 1s ease-in forwards;
}

.splash {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.splash-hidden {
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .logo-text-container {
    animation: containerMoveMobile 1s ease-in forwards;
    animation-delay: 3s;
  }

  @keyframes containerMoveMobile {
    from {
      opacity: 1;
      transform: translate(0, 0);
    }

    to {
      opacity: 1;
      transform: translate(0, -40vh) scale(0.8);
    }
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 40px;
  }

  .logo {
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }

  .logo {
    height: 70px;
  }
}